/* Main settings */

body {
  color: #fff;
}

.main {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding-bottom: 15px;
  margin: 0;
  white-space: pre-wrap;
}

p {
  font-size: 20px;
}

.main__logo {
  margin: 30px 0;
}

.main__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.video__wrapper{
  position: relative;
}

.video__wrapper p {
  padding-top: 10px;
  white-space: pre-wrap;
}

.main__video {
  margin-bottom: 20px;
  position: absolute;
  z-index: 3;
  top: 55%;
  left: 2%;
  width: 580px;
  height: 400px;
}

.advertising {
  background-color: #000;
}

.advertising__text_position {
  display: flex;
  justify-content: flex-end;
}
/* form */
.form {
  background-color: #fff;
  border-radius: 5px;
}

.form__logo {
  color: #fff;
  background-color: #080084;
  padding: 3px 15px;
  border-radius: 20px;
  margin: 0 auto;
}

.form__logo p {
  font-weight: bold;
  font-size: 20px;
  margin: auto;
}

.form__text_text_purple {
  color: #c8b7ff;
  font-weight: normal;
}

.form__text_text_size_b {
  font-size: 40px;
}

.form__text {
  padding-top: 15px;
}

.form__text h2 {
  color: #000;
  font-weight: bold;
  padding: 10px;
}

.form__imput {
  width: 100%;
  padding: 5px 12px;
}

.form__imputs input[type="text"],
.form__imputs input[type="email"] {
  background-color: #edeef2;
  border-radius: 20px;
  color: #000;
  width: 100%;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
   color: #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #000;
}

.form__button {
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  border: none;
  padding: 12px 20px;
  font-size: 17px;
  margin: 5px 0 25px;
  background: linear-gradient(180deg, rgba(249,55,116,1) 35%, rgba(254,104,87,1) 100%);
}

.form__button:active,
.form__button:focus {
  outline: none;
}

/* flag */

.main__flag {
  padding: 15px 30px 10px;
}

.flag__icon {
  width: 40px;
  height: 22px;
  border-radius: 20px;
  background: linear-gradient(#0057b8 50%, #ffd700 50%);
}

.flag__text p {
  font-size: 17px;
  padding-left: 20px;
  vertical-align: middle;
  margin-bottom: 0;
}

.flag__text_text_purple-red {
  color: #cb5f7f;
  font-weight: bold;
}

.main__companys {
  padding-bottom: 50px;
}

.main__indicators  {
  padding-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
  text-align: left;
}

.main__indicators p {
  font-size: 23px;
  margin-bottom: 0;
}

.main__indicator {
  width: 50%;
}
/* slider */

.slider {
    background: linear-gradient(#fff 50%, #150366 50%);
    min-height: 150px;
    padding-bottom: 30px;
}

.slider__text_black {
  color: #000;
  font-size: 17px;
}

.owl-nav {
  display: none;
}

/* carusel item */
.item {
  justify-content: center;
  padding: 15px 15px 0 15px;
  background: #fff;
  box-shadow: 0 0 5px 2px rgba(25, 27, 28, 0.2);
  border-radius: 7px;
  max-width: 223px;
  max-height: 145px;
}

.carousel__item_pink {
  color: #d13e72;
}

.item h4 {
  font-size: 20px;
  margin: 0;
  padding-bottom: 5px;
  color: #000;
}

.item p {
  margin: 0;
  color: #353535;
}

.card__img {
  width: 50%;
}
/* popUp */

.popUp__body {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 320px;
  margin: -160px 0 0 -250px;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  z-index: 555;
  text-align: left;
  display: none;
  overflow: hidden;
}

.popUp__main {
  position: relative;
  background-color: #edeef2;
  height: 100%;
}

.popUp__heading {
  background: #080084;
  color: #fff;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.popUp__main .popUp__data {
  padding: 15px;
  font-size: 12px;
  line-height: 20px;
  color: #6b6b6b;
}

.popUp__data div {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.popUp__main p {
  margin: 0 0 7px 0;
}

/*Close Button */
.close {
  position: absolute;
  right: 15px;
  top: 20px;
  width: 26px;
  height: 26px;
  opacity: 0.5;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  top: 0;
  right: 10px;
  width: 5px;
  height: 26px;
  content: '';
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0.6;
			z-index: 100;
      display: none;
		}


/* media */

@media (min-width: 320px) and (max-width: 666px) {
  .slider {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  h1 {
    white-space: normal;
    font-size: 25px;
  }

  .main__content {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .main__content p {
    font-size: 15px;
    padding-bottom: 15px;
  }

  .video__wrapper p {
    white-space: normal;
  }

  .main__video {
    position: static;
    width: 100%;
    height: 100%;
    left: 0;
  }
  .video__wrapper {
    margin-bottom: 20px;
  }
  .item p {
    font-size: 12px;
  }
  .card__img {
    width: 40%;
  }
  .item h4 {
    font-size: 13px;
  }
  .item h5 {
    font-size: 12px;
  }
  .form {
    max-width: 100%;
    margin: 0 auto;
  }
  .popUp__body {
    width: 300px;
    margin:auto;
    left:0;
    right:0;
  }
  .form__button {
    font-size: 14px;
  }
  .advertising__text_position {
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .main__video {
    position: static;
    width: 100%;
    height: 100%;
    left: 0;
  }

  .video__wrapper p {
    margin: 0;
  }

  h1 {
    font-size: 30px;
  }
  .advertising__text_position {
    justify-content: center;
  }

  .main__indicator p {
    font-size: 35px;
  }

  .main__companys div {
    padding: 0 10px;
  }
  .flag__text p {
    font-size: 12px;
  }

  .main__flag {
    padding: 10px 0;
  }

  .form__button {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .form__button {
    font-size: 14px;
  }
  .flag__text p {
    font-size: 12px;
  }

  .video__wrapper p {
    padding-top: 15px;
    font-size: 19px;
    white-space: normal;
  }

  .main__video {
    margin-bottom: 0px;
    top: 60%;
    left: 2%;
    width: 500px;
    height: 400px;
  }

  .main__indicators {
    display: flex;
    flex-flow: column;
  }
  .main__indicator {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
  }
  .item h4 {
    font-size: 15px;
  }

  .item p {
    font-size: 12px;
  }

  .item h5 {
    font-size: 15px;
  }
}
